# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Database files
*.db
*.db-journal

# P2P keys
p2p_key.pem

# Logs
*.log

# IDE / Editor files
.idea/
.vscode/

# Temporary files
jules-scratch/
